In [143]:
#importaciones de las librerias
import pandas as pd
import numpy as np
import sklearn as sl
import matplotlib.pyplot as pl

In [144]:
data=pd.read_csv("retrasos.csv")#Leemos el fichero csv y pasandolo a dataframe
data

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,HNL,749.0,0.0,0700-0759,1832.0,0.0,0.0,0.0,3801.0,NaN
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,SPN,717.0,0.0,0700-0759,759.0,0.0,0.0,0.0,129.0,NaN
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,GUM,857.0,0.0,0900-0959,933.0,0.0,0.0,0.0,129.0,NaN
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0.0,0.0,129.0,NaN
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0.0,0.0,129.0,NaN

In [145]:
data.drop_duplicates(keep=False,inplace=True)#Eliminamos los datos duplicados
data

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,HNL,749.0,0.0,0700-0759,1832.0,0.0,0.0,0.0,3801.0,NaN
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,SPN,717.0,0.0,0700-0759,759.0,0.0,0.0,0.0,129.0,NaN
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,GUM,857.0,0.0,0900-0959,933.0,0.0,0.0,0.0,129.0,NaN
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0.0,0.0,129.0,NaN
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0.0,0.0,129.0,NaN

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583985 entries, 0 to 583984
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DAY_OF_MONTH           583985 non-null  int64
 1   DAY_OF_WEEK            583985 non-null  int64
 2   OP_UNIQUE_CARRIER      583985 non-null  object
 3   OP_CARRIER_AIRLINE_ID  583985 non-null  int64
 4   OP_CARRIER             583985 non-null  object
 5   TAIL_NUM               581442 non-null  object
 6   OP_CARRIER_FL_NUM      583985 non-null  int64
 7   ORIGIN_AIRPORT_ID      583985 non-null  int64
 8   ORIGIN_AIRPORT_SEQ_ID  583985 non-null  int64
 9   ORIGIN                 583985 non-null  object
 10  DEST_AIRPORT_ID        583985 non-null  int64
 11  DEST_AIRPORT_SEQ_ID    583985 non-null  int64
 12  DEST                   583985 non-null  object
 13  DEP_TIME               567633 non-null  float64
 14  DEP_DEL15              567630 non-null  float64
 15  DEP_TIME_BLK           583985 non-null  object
 16  ARR_TIME               566924 non-null  float64
 17  ARR_DEL15              565963 non-null  float64
 18  CANCELLED              583985 non-null  float64
 19  DIVERTED               583985 non-null  float64
 20  DISTANCE               583985 non-null  float64
 21  Unnamed: 21            0 non-null       float64
dtypes: float64(8), int64(8), object(6)
memory usage: 102.5+ MB

In [147]:
#Eliminamos las columnas repetidas o que no aporten ninguna informacion
data=data.drop(columns=['OP_CARRIER','DEP_DEL15','ARR_DEL15','CANCELLED','DIVERTED','Unnamed: 21'])

In [148]:
conditionlist = [
    (data['DAY_OF_MONTH'] >= 1) & (data['DAY_OF_MONTH'] <=7),
    (data['DAY_OF_MONTH'] >= 8) & (data['DAY_OF_MONTH'] <=14),
    (data['DAY_OF_MONTH'] >= 15) & (data['DAY_OF_MONTH'] <=22),
    (data['DAY_OF_MONTH'] <= 31)]
choicelist = ['Semana1', 'Semana2', 'Semana3','Semana4']
data['Etiqueta'] = np.select(conditionlist, choicelist, default='Not Specified')

In [149]:
data

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_TIME_BLK,ARR_TIME,DISTANCE,Etiqueta
0,1,2,9E,20363,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0600-0659,722.0,300.0,Semana1
1,1,2,9E,20363,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,1400-1459,1633.0,596.0,Semana1
2,1,2,9E,20363,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,1200-1259,1329.0,229.0,Semana1
3,1,2,9E,20363,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,1500-1559,1625.0,223.0,Semana1
4,1,2,9E,20363,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,1900-1959,1940.0,579.0,Semana1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,N776UA,200,12016,1201602,GUM,12173,1217305,HNL,749.0,0700-0759,1832.0,3801.0,Semana4
583981,31,4,UA,19977,N36280,174,12016,1201602,GUM,14955,1495503,SPN,717.0,0700-0759,759.0,129.0,Semana4
583982,31,4,UA,19977,N36280,117,14955,1495503,SPN,12016,1201602,GUM,857.0,0900-0959,933.0,129.0,Semana4
583983,31,4,UA,19977,N39726,105,14955,1495503,SPN,12016,1201602,GUM,1820.0,1800-1859,1854.0,129.0,Semana4
583984,31,4,UA,19977,N39726,104,12016,1201602,GUM,14955,1495503,SPN,1636.0,1600-1659,1719.0,129.0,Semana4

In [150]:
enero=data.groupby(['Etiqueta']).count()

In [151]:
enero

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_TIME_BLK,ARR_TIME,DISTANCE
Etiqueta,,,,,,,,,,,,,,,,
Semana1,133751,133751,133751,133751,133653,133751,133751,133751,133751,133751,133751,133751,132725,133751,132640,133751
Semana2,131930,131930,131930,131930,131678,131930,131930,131930,131930,131930,131930,131930,129931,131930,129782,131930
Semana3,147699,147699,147699,147699,146997,147699,147699,147699,147699,147699,147699,147699,142233,147699,141956,147699
Semana4,170605,170605,170605,170605,169114,170605,170605,170605,170605,170605,170605,170605,162744,170605,162546,170605