In [74]:
#importaciones de las librerias
import pandas as pd
import numpy as np
import sklearn as sl
import matplotlib.pyplot as pl

In [75]:
data=pd.read_csv("vacunaciones.csv")#Leemos el fichero csv

In [103]:
data

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
1,Albania,ALB,2021-01-11,NaN,0.0,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3203,Wales,NaN,2021-02-10,687892.0,684097.0,3795.0,28786.0,28015.0,21.82,21.70,0.12,8886.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3204,Wales,NaN,2021-02-11,719954.0,715944.0,4010.0,32062.0,27897.0,22.83,22.71,0.13,8848.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3205,Wales,NaN,2021-02-12,753669.0,749445.0,4224.0,33715.0,27743.0,23.90,23.77,0.13,8799.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3206,Wales,NaN,2021-02-13,776224.0,771651.0,4573.0,22555.0,26285.0,24.62,24.47,0.15,8337.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3207,Wales,NaN,2021-02-14,790211.0,784809.0,5402.0,13987.0,26206.0,25.06,24.89,0.17,8312.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

In [100]:
df = pd.DataFrame(data=data) #creamos dataframe con los datos del csv

In [101]:
#for que itera el dataframa
for x in range(0,len(df.index)):
    #inicilizamos las variable
    mean=0
    rows=0
    #condicion para cuando el valor sea nan
    if(np.isnan(df['people_vaccinated'][x])):
        #comprobamos nan en fila 3 anteriores
        if (x-3>=0):
            if(df['country'][x-3]==df['country'][x]):
                rows=rows+1
                mean+=df['people_vaccinated'][x-3]
        #comprobamos nan en fila 2 anteriores
        elif (x-2>=0):
            if(df['country'][x-2]==df['country'][x]):
                rows=rows+1
                mean+=df['people_vaccinated'][x-2]
        #comprobamos nan en fila 2 anteriores
        elif (x-1>=0):
            if(df['country'][x-1]==df['country'][x]):
                rows=rows+1
                mean+=df['people_vaccinated'][x-1]
        #En el caso de que los 3 valores anteriores sean null
        #se asignara el valor de 0.0
        #En caso contrario se realizara la media
        if(rows==0):
            df['people_vaccinated'][x]=0.0
        else:
            df['people_vaccinated'][x]=mean/rows

In [102]:
print(df.iloc[:,4]) #imprimimos los valores de la columna correspondiente

0            0.0
1            0.0
2          128.0
3          188.0
4          266.0
          ...
3203    684097.0
3204    715944.0
3205    749445.0
3206    771651.0
3207    784809.0
Name: people_vaccinated, Length: 3208, dtype: float64

In [111]:
NumCrim3=df.groupby(['country'])['people_vaccinated'].value_counts()
NumCrim2 = pd.DataFrame(NumCrim3)
NumCrim2

                           people_vaccinated
country people_vaccinated
Albania 0.0                                2
        549.0                              2
        128.0                              1
        188.0                              1
        266.0                              1
...                                      ...
Wales   684097.0                           1
        715944.0                           1
        749445.0                           1
        771651.0                           1
        784809.0                           1

[2288 rows x 1 columns]